{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px">
    {%block content%}
    <link rel="stylesheet" href="{% static 'scms_app/css/About.css' %}" media="screen"/>
    
    <section class="u-clearfix u-section-1" id="sec-92c2" style="min-height: 1200px;">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Our History</h2>
        <h5 class="u-text u-text-default u-text-2">Football History</h5>
        <ul class="u-custom-list u-text u-text-default u-text-3">
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            Club Name's football team were formed in March 1980
          </li>
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            The four founders were Jack Hughes, Frederick Matthews, Walter
            Price, and William Scattergood
          </li>
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            The first ever official football match Club Name played was against
            Aston Brook St Mary's Team
          </li>
        </ul>
        <h5 class="u-text u-text-default u-text-4">Basketball History</h5>
        <ul class="u-custom-list u-text u-text-default u-text-5">
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            Club Name's basketball team were formed in March 2012
          </li>
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            The three founders were Wes Edens, Nassif Sawiris, and Pete Peterson
          </li>
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            The first ever official basketball game Club Name played was against
            Miami Heat at the FTX Arena
          </li>
        </ul>
        <div
          class="u-border-2 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"
        ></div>
        <h2 class="u-text u-text-default u-text-6">Our Football Stadium</h2>
        <ul class="u-custom-list u-text u-text-default u-text-7">
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            We have one of football's oldest and most prestigious grounds
          </li>
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            The club's home since 1982 has evolved into a magnificent all-seated
            arena with a capacity of more than 60,000
          </li>
        </ul>
        <h2 class="u-text u-text-default u-text-8">Our Basketball Stadium</h2>
        <ul class="u-custom-list u-text u-text-default u-text-9">
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            We have one of basketball's newest and most modern grounds
          </li>
          <li>
            <div class="u-list-icon">
              <div
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                xml:space="preserve"
                class="u-svg-content"
              >
                ➤
              </div>
            </div>
            The club's home since 2016 has evolved into a magnificent arena with
            a capacity of more than 18,000
          </li>
        </ul>
      </div>
    </section>
    {%endblock%}
</html>
