{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="INTUITIVE" />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/nicepage.css' %}"
      media="screen"
    />
    <link href="{% static 'scms_app/css/bootstrap.min.css' %}" >  
    <script src="{% static 'scms_app/js/bootstrap.min.js' %}"></script>
    <!--Bootystrap-->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <script
      class="u-script"
      type="text/javascript"
      src="{% static 'scms_app/js/jquery.js' %}"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="{% static 'scms_app/js/nicepage.js' %}"
      defer=""
    ></script>
</head>


<body class="u-body u-xl-mode">
{%include 'navbar.html'%}
    <main>
        {%block content%}
        {%endblock%}
    </main>
{%include 'footer.html'%}
</body>

<script>
    var message_tag = document.getElementById("message_box");
    
    setTimeout(function(){ 
       message_tag.style.display = "none"; 
    }, 5000);
    
</script>

</html>