{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html style="font-size: 16px">
    {% block content %}
    {%if messages%}
        {%for message in messages%}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert" id="message_box">
            {{message}}
            </div>
        {%endfor%}
    {%endif%}
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/Home.css' %}"
      media="screen"
    />
    <section class="u-align-center u-clearfix u-section-1" src="" id="sec-ae19">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-title u-text-1">
          Welcome to the w​​​orld's most prestigious football and basketball
          club!
        </h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2">
          Get to know the teams, buy tickets to the games, browse the club
          s​​hop for weekly sales and many more.
        </p>
        <div
          class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"
        ></div>
      </div>
    </section>
    <section
      class="u-align-center u-clearfix u-white u-section-2"
      id="sec-5028"
      style="min-height: 1000px;"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-text u-text-default u-text-1">Latest News</h2>
        <div
          class="u-carousel u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
          id="carousel-f035"
          data-interval="5000"
          data-u-ride="carousel"
        >
          <ol
            class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1"
          >
            <li
              data-u-target="#carousel-f035"
              data-u-slide-to="0"
              class="u-active u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px"
            ></li>
            <li
              data-u-target="#carousel-f035"
              data-u-slide-to="1"
              class="u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px"
            ></li>
            <li
              data-u-target="#carousel-f035"
              data-u-slide-to="2"
              class="u-grey-70 u-shape-circle"
              style="width: 10px; height: 10px"
            ></li>
          </ol>
          <div class="u-carousel-inner u-gallery-inner" role="listbox">
            <div
              class="u-active u-carousel-item u-gallery-item u-carousel-item-1"
              data-href="News.html"
              data-page-id="140708923"
            >
              <div
                class="u-back-slide"
                data-image-width="1200"
                data-image-height="627"
              >
                <img
                  class="u-back-image u-expanded"
                  src="{% static 'scms_app/images/ucl_trophy.jpeg' %}"
                />
              </div>
              <div
                class="u-align-center u-custom-color-3 u-over-slide u-valign-bottom u-over-slide-1"
              >
                <h3 class="u-custom-font u-font-open-sans u-gallery-heading">
                  Phoenix are the European Champions!
                </h3>
                <p class="u-gallery-text" style="margin-top: 0px"></p>
              </div>
            </div>
            <div
              class="u-carousel-item u-gallery-item u-carousel-item-2"
              data-href="News.html"
              data-page-id="140708923"
            >
              <div
                class="u-back-slide"
                data-image-width="1600"
                data-image-height="900"
              >
                <img
                  class="u-back-image u-expanded u-back-image-2"
                  src="{% static 'scms_app/images/nba_championship.jpeg' %}"
                />
              </div>
              <div
                class="u-align-center u-custom-color-3 u-over-slide u-valign-bottom u-over-slide-2"
              >
                <h3 class="u-custom-font u-font-open-sans u-gallery-heading">
                  Phoenix are Champions!
                </h3>
                <p class="u-gallery-text" style="margin-top: 0px"></p>
              </div>
            </div>
            <div
              class="u-carousel-item u-gallery-item u-carousel-item-3"
              data-image-width="2500"
              data-image-height="1667"
              data-href="News.html"
              data-page-id="140708923"
            >
              <div class="u-back-slide">
                <img
                  class="u-back-image u-expanded"
                  src="{% static 'scms_app/images/foodbank-donation.jpeg' %}"
                  alt="Phoenix to donate food through the Lebanese Food Bank"
                />
              </div>
              <div
                class="u-align-center u-custom-color-3 u-over-slide u-valign-bottom u-over-slide-3"
              >
                <h3 class="u-custom-font u-font-open-sans u-gallery-heading">
                  Phoenix to donate food through the Lebanese Food Bank
                </h3>
                <p class="u-gallery-text" style="margin-top: 0px"></p>
              </div>
              <style data-mode="XL" data-visited="true"></style>
              <style data-mode="LG"></style>
              <style data-mode="MD"></style>
              <style data-mode="SM"></style>
              <style data-mode="XS"></style>
            </div>
          </div>
          <a
            class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
            href="#carousel-f035"
            role="button"
            data-u-slide="prev"
          >
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847">
                <path
                  d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"
                ></path>
              </svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847">
                <path
                  d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"
                ></path>
              </svg>
            </span>
          </a>
          <a
            class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
            href="#carousel-f035"
            role="button"
            data-u-slide="next"
          >
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847">
                <path
                  d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"
                ></path>
              </svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847">
                <path
                  d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"
                ></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    {% endblock %}
</html>



{% comment %} <div>
    {%url 'index' as index_url%}
    <span>{% if request.path == index_url %}Home{%else%}<a href="{{ index_url }}">Home</a>{%endif%}</span>
    {%url 'about' as about_url%}
    <span>{% if request.path == about_url %}About{%else%}<a href="{{ about_url }}">About</a>{%endif%}</span>
    {%url 'contact' as contact_url%}
    <span>{% if request.path == contact_url %}Contact{%else%}<a href="{{ contact_url }}">Contact</a>{%endif%}</span>
    <span style="float:right">
        {%if user.is_authenticated%}
        {% url 'profile' as profile_url %}
            <span>Welcome {% if request.path == profile_url%}{{user.username}}{%else%}<a href="{{profile_url}}">{{user.username}}</a>{%endif%}</span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
        {%else%}
            <span><a href="{% url 'login' %}">Login</a></span>

        {%endif%}
</div> {% endcomment %}
