{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html style="font-size: 16px">
    {%block content%}
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/StadiumMuseum.css' %}"
      media="screen"
    />
    <section class="u-clearfix u-white u-section-1" id="sec-368f">
      <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
        <div
          class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div
                    class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1"
                    src=""
                    data-image-width="4250"
                    data-image-height="2049"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-1"
                      src=""
                    ></div>
                  </div>
                  <div
                    class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-40 u-image-2"
                    src=""
                    data-image-width="1920"
                    data-image-height="720"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-2"
                      src=""
                    ></div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3"
                  >
                    <div class="u-container-layout u-container-layout-3">
                      <h1 class="u-text u-text-default u-text-1">
                        Phoenix Stadium and Museum
                      </h1>
                      <p class="u-text u-text-2">
                        The club's home since 1982 has evolved into a
                        magnificent all-seated arena with a capacity of more
                        than 60,000
                      </p>
                      <a
                        href=""
                        class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-btn-1"
                        >learn more</a
                      >
                      <img
                        class="u-image u-image-circle u-image-3"
                        src="{% static 'scms_app/images/foot-ball.png' %}"
                        alt=""
                        data-image-width="787"
                        data-image-height="793"
                      />
                      <img
                        class="u-image u-image-circle u-image-4"
                        src="{% static 'scms_app/images/foot-ball.png' %}"
                        alt=""
                        data-image-width="787"
                        data-image-height="793"
                      />
                      <img
                        class="u-image u-image-circle u-image-5"
                        src="{% static 'scms_app/images/foot-ball.png' %}"
                        alt=""
                        data-image-width="787"
                        data-image-height="793"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"
        ></div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-582d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1"
                  >
                    <div class="u-container-layout u-container-layout-1">
                      <h1 class="u-text u-text-default u-text-1">
                        Phoenix Court and Hall of Fame
                      </h1>
                      <p class="u-text u-text-2">
                        The club's home since 2016 has evolved into a
                        magnificent arena with a capacity of more than 18,000
                      </p>
                      <a
                        href=""
                        class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-btn-1"
                        >learn more</a
                      >
                      <img
                        class="u-image u-image-circle u-image-1"
                        src="{% static 'scms_app/images/basket-ball.png' %}"
                        alt=""
                        data-image-width="655"
                        data-image-height="657"
                      />
                      <img
                        class="u-image u-image-circle u-image-2"
                        src="{% static 'scms_app/images/basket-ball.png' %}"
                        alt=""
                        data-image-width="655"
                        data-image-height="657"
                      />
                      <img
                        class="u-image u-image-circle u-image-3"
                        src="{% static 'scms_app/images/basket-ball.png' %}"
                        alt=""
                        data-image-width="655"
                        data-image-height="657"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div
                    class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-4"
                    src=""
                    data-image-width="800"
                    data-image-height="450"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-2"
                      src=""
                    ></div>
                  </div>
                  <div
                    class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-40 u-image-5"
                    src=""
                    data-image-width="1200"
                    data-image-height="948"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-3"
                      src=""
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endblock%}
</html>
