{% extends 'base.html' %}
{% load static %}



<!DOCTYPE html>
<html style="font-size: 16px">
    {%block content%}
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/TeamsB.css' %}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/TeamsF.css' %}"
      media="screen"
    />
    <section class="u-align-center u-clearfix u-section-1" id="sec-1548">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Basketball Team</h1>
        <div
          class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"
        ></div>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-2"> 
            {% comment %} u-repeater-1 instead of 2 for the fabbol {% endcomment %}
            {% comment %} class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1" {% endcomment %}
            {% comment %} class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1" {% endcomment %}
            {% for player in players %}
            <div
            class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1"
          >
            <div
              class="u-container-layout u-similar-container u-container-layout-1"
            >
              <h2 class="u-text u-text-2">{{player.player_number}}</h2>
              <img
                alt=""
                class="u-image u-image-round u-radius-50 u-image-1"
                data-image-width="360"
                data-image-height="390"
                src={{player.player_image}}
              />
              <h5 class="u-text u-text-3">{{player.player_name}}</h5>
              <p class="u-text u-text-4">{{player.player_position}}</p>
              <p class="u-large-text u-text u-text-variant u-text-5">
                {{player.player_nationality}}
              </p>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {%endblock%}
    
</html>
