{% extends 'base.html' %}
{% load static %}



<!DOCTYPE html>
<html style="font-size: 16px">
    {%block content%}
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/TeamsB.css' %}"
      media="screen"
    />
    <section class="u-align-center u-clearfix u-section-1" id="sec-1548">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Basketball Team</h1>
        <div
          class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"
        ></div>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1"
              >
                <h2 class="u-text u-text-2">3</h2>
                <img
                  alt=""
                  class="u-expanded-width u-image u-image-round u-radius-50 u-image-1"
                  data-image-width="925"
                  data-image-height="925"
                  src="{% static 'scms_app/images/basket1copy.png' %}"
                />
                <h5 class="u-text u-text-3">Player1</h5>
                <p class="u-text u-text-4">GUARD</p>
                <p class="u-large-text u-text u-text-variant u-text-5">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2"
              >
                <h2 class="u-text u-text-6">5</h2>
                <img
                  alt=""
                  class="u-expanded-width u-image u-image-round u-radius-50 u-image-2"
                  data-image-width="555"
                  data-image-height="555"
                  src="{% static 'scms_app/images/basket2copy.png' %}"
                />
                <h5 class="u-text u-text-7">Player7</h5>
                <p class="u-text u-text-8">FORWARD</p>
                <p class="u-large-text u-text u-text-variant u-text-9">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3"
              >
                <h2 class="u-text u-text-10">7</h2>
                <img
                  alt=""
                  class="u-expanded-width u-image u-image-round u-radius-50 u-image-3"
                  data-image-width="559"
                  data-image-height="620"
                  src="{% static 'scms_app/images/basket3.jpeg' %}"
                />
                <h5 class="u-text u-text-11">Player2</h5>
                <p class="u-text u-text-12">CENTER</p>
                <p class="u-large-text u-text u-text-variant u-text-13">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-4"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4"
              >
                <h2 class="u-text u-text-14">9</h2>
                <img
                  alt=""
                  class="u-expanded-width u-image u-image-round u-radius-50 u-image-4"
                  data-image-width="331"
                  data-image-height="392"
                  src="{% static 'scms_app/images/basket4.jpeg' %}"
                />
                <h5 class="u-text u-text-15">Player5</h5>
                <p class="u-text u-text-16">FORWARD</p>
                <p class="u-large-text u-text u-text-variant u-text-17">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-5"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5"
              >
                <h2 class="u-text u-text-18">11</h2>
                <img
                  alt=""
                  class="u-expanded-width u-image u-image-round u-radius-50 u-image-5"
                  data-image-width="263"
                  data-image-height="270"
                  src="{% static 'scms_app/images/basket5.jpeg' %}"
                />
                <h5 class="u-text u-text-19">Player6</h5>
                <p class="u-text u-text-20">CENTER</p>
                <p class="u-large-text u-text u-text-variant u-text-21">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-6"
            >
              <div
                class="u-container-layout u-similar-container u-valign-bottom u-container-layout-6"
              >
                <h2 class="u-text u-text-22">13</h2>
                <img
                  alt=""
                  class="u-expanded-width u-image u-image-round u-radius-50 u-image-6"
                  data-image-width="625"
                  data-image-height="625"
                  src="{% static 'scms_app/images/basket6.jpeg' %}"
                />
                <h5 class="u-text u-text-23">Player6</h5>
                <p class="u-text u-text-24">GUARD</p>
                <p class="u-large-text u-text u-text-variant u-text-25">
                  Nationality
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-list u-list-2">
          <div class="u-repeater u-repeater-2"></div>
        </div>
      </div>
    </section>
    {%endblock%}
    
</html>
