{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html style="font-size: 16px">
    {%block content%}
    <link
      rel="stylesheet"
      href="{% static 'scms_app/css/TeamsF.css' %}"
      media="screen"
    />
    <section class="u-align-center u-clearfix u-section-1" id="sec-1548">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Football Team</h1>
        <div
          class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"
        ></div>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1"></div>
        </div>
        <div class="u-expanded-width u-layout-grid u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-1"
              >
                <h2 class="u-text u-text-2">2</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-1"
                  data-image-width="360"
                  data-image-height="390"
                  src="{% static 'scms_app/images/foot5.jpeg' %}"
                />
                <h5 class="u-text u-text-3">Player1</h5>
                <p class="u-text u-text-4">DEFENDER</p>
                <p class="u-large-text u-text u-text-variant u-text-5">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-2"
              >
                <h2 class="u-text u-text-6">41</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-2"
                  data-image-width="360"
                  data-image-height="390"
                  src="{% static 'scms_app/images/foot4.jpeg' %}"
                />
                <h5 class="u-text u-text-7">Player7</h5>
                <p class="u-text u-text-8">MIDFIELDER</p>
                <p class="u-large-text u-text u-text-variant u-text-9">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-3"
              >
                <h2 class="u-text u-text-10">5</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-3"
                  data-image-width="360"
                  data-image-height="390"
                  src="{% static 'scms_app/images/foot7.jpeg' %}"
                />
                <h5 class="u-text u-text-11">Player2</h5>
                <p class="u-text u-text-12">DEFENDER</p>
                <p class="u-large-text u-text u-text-variant u-text-13">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-4"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-4"
              >
                <h2 class="u-text u-text-14">23</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-4"
                  data-image-width="385"
                  data-image-height="410"
                  src="{% static 'scms_app/images/foot3.jpeg' %}"
                />
                <h5 class="u-text u-text-15">Player5</h5>
                <p class="u-text u-text-16">MIDFIELDER</p>
                <p class="u-large-text u-text u-text-variant u-text-17">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-5"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-5"
              >
                <h2 class="u-text u-text-18">7</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-5"
                  data-image-width="143"
                  data-image-height="160"
                  src="{% static 'scms_app/images/foot9.jpeg' %}"
                />
                <h5 class="u-text u-text-19">Player6</h5>
                <p class="u-text u-text-20">MIDFIELDER</p>
                <p class="u-large-text u-text u-text-variant u-text-21">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-6"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-6"
              >
                <h2 class="u-text u-text-22">3</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-6"
                  data-image-width="360"
                  data-image-height="430"
                  src="{% static 'scms_app/images/foot8.jpeg' %}"
                />
                <h5 class="u-text u-text-23">Player4</h5>
                <p class="u-text u-text-24">DEFENDER</p>
                <p class="u-large-text u-text u-text-variant u-text-25">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-7"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-7"
              >
                <h2 class="u-text u-text-26">9</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-7"
                  data-image-width="360"
                  data-image-height="390"
                  src="{% static 'scms_app/images/foot6.jpeg' %}"
                />
                <h5 class="u-text u-text-27">Player9</h5>
                <p class="u-text u-text-28">FORWARD</p>
                <p class="u-large-text u-text u-text-variant u-text-29">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-8"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-8"
              >
                <h2 class="u-text u-text-30">8</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-8"
                  data-image-width="360"
                  data-image-height="390"
                  src="{% static 'scms_app/images/foot2.jpeg' %}"
                />
                <h5 class="u-text u-text-31">Player8</h5>
                <p class="u-text u-text-32">MIDFIELDER</p>
                <p class="u-large-text u-text u-text-variant u-text-33">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-9"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-9"
              >
                <h2 class="u-text u-text-34">4</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-9"
                  data-image-width="552"
                  data-image-height="661"
                  src="{% static 'scms_app/images/foot10.jpeg' %}"
                />
                <h5 class="u-text u-text-35">Player3</h5>
                <p class="u-text u-text-36">DEFENDER</p>
                <p class="u-large-text u-text u-text-variant u-text-37">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-10"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-10"
              >
                <h2 class="u-text u-text-38">11</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-10"
                  data-image-width="360"
                  data-image-height="390"
                  src="{% static 'scms_app/images/foot1.jpeg' %}"
                />
                <h5 class="u-text u-text-39">Player10</h5>
                <p class="u-text u-text-40">FORWARD</p>
                <p class="u-large-text u-text u-text-variant u-text-41">
                  Nationality
                </p>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-11"
            >
              <div
                class="u-container-layout u-similar-container u-container-layout-11"
              >
                <h2 class="u-text u-text-42">1</h2>
                <img
                  alt=""
                  class="u-image u-image-round u-radius-50 u-image-11"
                  data-image-width="300"
                  data-image-height="385"
                  src="{% static 'scms_app/images/foot11.jpeg' %}"
                />
                <h5 class="u-text u-text-43">Player11</h5>
                <p class="u-text u-text-44">GOALKEEPER</p>
                <p class="u-large-text u-text u-text-variant u-text-45">
                  Nationality
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endblock%}
    
</html>
