{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html style="font-size: 16px;">
    {% block content %}
    <link rel="stylesheet" href="{% static 'scms_app/css/Tickets.css' %}" media="screen"/>

    <style>
      .div-ticket{
        display: flex;
        flex-direction: row;
        gap:20px;
        background-color: #fcece3;
      }
      
      .div-ticket:third-child{
        width:500px;
      }

      .div-ticket > * {
        flex: 0 0 auto;
      }

      .div-ticket-b{

      }

      .opponent-f{
        display: flex;
        flex-direction: column;
      }

      .opponent-b{
        display: flex;
        flex-direction: column;
      }

      .opponent-b p{
        margin-top:0;
      }

      .opponent-b-last2{
        display: flex;
        flex-direction: column;
      }

      .opponent-p{
        height: 50px;
      }

      .opponent-badge-f{
        align-self: center;
        text-align: center;
      }

      .opponent-badge-b{
        {% comment %} align-self: center;
        text-align: center; {% endcomment %}
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .opponent-badge-p-b{
        display: flex;
        flex-direction: column;
        margin-top:20px;
      }

      .opponent-badge-name-b{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right:40px;
        margin-left:22px;
      }

      .purchase-f{
        display: flex;
        flex-direction: column;
      }

      .purchase-b{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .purchase-btn{
        margin-top:0;
      }

      .switch-sport-btn{
        background-color:#478ac9;
        margin-top:1%;
      }

      #football-id{
        position:absolute;
        top:15%;
        left: 30%;
      }

      #basketball-id{
        position:absolute;
        top:18%;
        left:30%;
      }

      .opponent-name{
        width: 260px;
      }

      .opponent-name-2{
        width: 280px;
        text-align: center;
      }
      
      .add-ticket{
        position: absolute;
        right: 0%;
        top: 3%;
      }
      
    </style>

    <section class="u-clearfix u-section-1" id="sec-d7cb" style="min-height: 1000px;">

      {%if messages%}
          {%for message in messages%}
            {%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
              <div class="alert {{message.tags}} alert-dismissible fade show" role="alert" id="message_box">
                {{message}}
              </div>
            {%endif%}
          {%endfor%}
        {% endif %}




      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <button id="footballButton" class="btn btn-primary switch-sport-btn" type="submit" onclick="toggleSport()" style="background-color:grey; border-color:grey;" disabled>Show Football Tickets</button>
        <button id="basketballButton" class="btn btn-primary switch-sport-btn" type="submit" onclick="toggleSport()">Show Basketball Tickets</button>
        <!-- Button trigger modal -->
        {% if 'staffuser' in request.session %}
        <button class="btn btn-primary add-ticket" type="submit" data-bs-toggle="modal" data-bs-target=".addFootballTicketClass" id="add-fticket">&plus; Add Football Ticket</button>
        {% endif %}
        <!-- Button trigger modal -->
        {% if 'staffuser' in request.session %}
        <button class="btn btn-primary add-ticket" type="submit" data-bs-toggle="modal" data-bs-target=".addBasketballTicketClass" id="add-bticket" style="visibility:hidden;">&plus; Add Basketball Ticket</button>
        {% endif %}


        {% if 'staffuser' in request.session %}
                <!-- Modal 1 -->
                <div class="modal fade addFootballTicketClass" id="addFootballTicketModal" tabindex="-1" aria-labelledby="addFootballTicketModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addFootballTicketModalLabel">Add A New Football Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="addFootballTicket" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="opponentName" class="col-form-label">Opponent Name</label>
                            <input type="text" class="form-control" name="opponentName" id="opponentName" required>
                          </div>
                          <div class="mb-3">
                            <label for="matchLocation" class="col-form-label">Match Location</label>
                            <input type="text" class="form-control" name="matchLocation" id="matchLocation" required>
                          </div>
                          <div class="mb-3">
                            <label for="homeAway" class="col-form-label">Home or Away</label>
                            <select class="form-control form-select" aria-label="Default select example" name="homeAway" id="homeAway" required>
                              <option selected value="H">Home</option>
                              <option value="A">Away</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="ticketPrice" class="col-form-label">Ticket Price</label>
                            <input type="number" class="form-control" name="ticketPrice" id="ticketPrice" required>
                          </div>
                          <div class="mb-3">
                            <label for="availableTickets" class="col-form-label">Available Tickets</label>
                            <input type="number" class="form-control" name="availableTickets" id="availableTickets" required>
                          </div>
                          <div class="mb-3">
                            <label for="matchDate" class="col-form-label">Match Date</label>
                            <input type="datetime-local" class="form-control" name="matchDate" id="matchDate" required>
                          </div>
                          <div class="mb-3">
                            <label for="opponentImage" class="form-label">Opponent Image</label>
                            <input type="file" class="form-control" name="opponentImage" accept="image/*" required>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name="addTicket" value="addTicket">Add Ticket</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>




                
                  
                      <!-- Modal 2 -->
                    <div class="modal fade addBasketballTicketClass" id="addBasketballModal" tabindex="-1" aria-labelledby="addBasketballModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addBasketballModal">Add A New Basketball Ticket</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" action="addBasketballTicket" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-3">
                                <label for="opponentName" class="col-form-label">Opponent Name</label>
                                <input type="text" class="form-control" name="opponentName" id="opponentName" required>
                              </div>
                              <div class="mb-3">
                                <label for="matchLocation" class="col-form-label">Match Location</label>
                                <input type="text" class="form-control" name="matchLocation" id="matchLocation" required>
                              </div>
                              <div class="mb-3">
                                <label for="ticketPrice" class="col-form-label">Ticket Price</label>
                                <input type="number" class="form-control" name="ticketPrice" id="ticketPrice" required>
                              </div>
                              <div class="mb-3">
                                <label for="availableTickets" class="col-form-label">Available Tickets</label>
                                <input type="number" class="form-control" name="availableTickets" id="availableTickets" required>
                              </div>
                              <div class="mb-3">
                                <label for="matchDate" class="col-form-label">Match Date</label>
                                <input type="datetime-local" class="form-control" name="matchDate" id="matchDate" required>
                              </div>
                              <div class="mb-3">
                                <label for="opponentImage" class="form-label">Opponent Image</label>
                                <input type="file" class="form-control" name="opponentImage" accept="image/*" required>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" name="addTicket" value="addTicket">Add Ticket</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    


                <!-- Modal 3 -->
                <div class="modal fade updateFootballTicketClass" id="updateFootballTicketModal" tabindex="-1" aria-labelledby="updateFootballTicketModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="updateFootballTicketModalLabel">Update Football Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="updateFootballTicket" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="opponentName" class="col-form-label">Opponent Name</label>
                            <input type="text" class="form-control" name="opponentName" id="opponentName" required>
                          </div>
                          <div class="mb-3">
                            <label for="matchLocation" class="col-form-label">Match Location</label>
                            <input type="text" class="form-control" name="matchLocation" id="matchLocation" required>
                          </div>
                          <div class="mb-3">
                            <label for="homeAway" class="col-form-label">Home or Away</label>
                            <select class="form-control form-select" aria-label="Default select example" name="homeAway" id="homeAway" required>
                              <option selected value="H">Home</option>
                              <option value="A">Away</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="ticketPrice" class="col-form-label">Ticket Price</label>
                            <input type="number" class="form-control" name="ticketPrice" id="ticketPrice" required>
                          </div>
                          <div class="mb-3">
                            <label for="availableTickets" class="col-form-label">Available Tickets</label>
                            <input type="number" class="form-control" name="availableTickets" id="availableTickets" required>
                          </div>
                          <div class="mb-3">
                            <label for="matchDate" class="col-form-label">Match Date</label>
                            <input type="datetime-local" class="form-control" name="matchDate" id="matchDate" required>
                          </div>
                          <div class="mb-3">
                            <label for="opponentImage" class="form-label">Opponent Image</label>
                            <input type="file" class="form-control" name="opponentImage" accept="image/*">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name="updateBtn" value="" id="updateFootballTicketBtn">Update Ticket</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>




                
                  
                    <!-- Modal 4 -->
                    <div class="modal fade updateBasketballTicketClass" id="updateBasketballTicketModal" tabindex="-1" aria-labelledby="updateBasketballTicketModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="updateBasketballTicketModal">Update Basketball Ticket</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" action="updateBasketballTicket" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-3">
                                <label for="opponentName" class="col-form-label">Opponent Name</label>
                                <input type="text" class="form-control" name="opponentName" id="opponentName" required>
                              </div>
                              <div class="mb-3">
                                <label for="matchLocation" class="col-form-label">Match Location</label>
                                <input type="text" class="form-control" name="matchLocation" id="matchLocation" required>
                              </div>
                              <div class="mb-3">
                                <label for="ticketPrice" class="col-form-label">Ticket Price</label>
                                <input type="number" class="form-control" name="ticketPrice" id="ticketPrice" required>
                              </div>
                              <div class="mb-3">
                                <label for="availableTickets" class="col-form-label">Available Tickets</label>
                                <input type="number" class="form-control" name="availableTickets" id="availableTickets" required>
                              </div>
                              <div class="mb-3">
                                <label for="matchDate" class="col-form-label">Match Date</label>
                                <input type="datetime-local" class="form-control" name="matchDate" id="matchDate" required>
                              </div>
                              <div class="mb-3">
                                <label for="opponentImage" class="form-label">Opponent Image</label>
                                <input type="file" class="form-control" name="opponentImage" accept="image/*">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" name="updateBtn" value="" id="updateBasketballTicketBtn">Update Ticket</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>




                    
            {% endif %}









        <h2 id="football-header" class="u-text u-text-default u-text-1">Football Tickets</h2>
        {% comment %} <h2 id="basketball-header" class="u-text u-text-default u-text-2" style="visibility:hidden;">Basketball Tickets</h2> {% endcomment %}

        <div id="football-id" class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">

            {% for fticket in ftickets %}
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-1 div-ticket">
                
                <div class="opponent-badge-f">
                <img class="u-image u-image-circle u-image-1" src={{fticket.football_ticket_image}} alt="" data-image-width="1406" data-image-height="1395">
                <h3>{{fticket.football_ticket_homeaway}}</h3>
                </div>

                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>

                <div class="opponent-f">
                <div class="opponent-p">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-4 opponent-name">{{fticket.football_ticket_opponent}}</p>
                </div>
                <div class="opponent-p">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-6"><span style="text-decoration:underline;">Location</span>: {{fticket.football_ticket_location}}</p>
                </div>
                <div class="opponent-p">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-8">{{fticket.football_ticket_date}}</p>
                </div>
                </div>

                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                
                <div class="purchase-f">
                <div style="text-align: -webkit-center;">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-3">Available: {{fticket.football_ticket_count}}</p>
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-7">Price: {{fticket.football_ticket_price}}$</p>
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-7" >Ticket Id: {{fticket.id}}</p>
                </div>
                <div style="align-self: center;">
                  <form method="POST" action="buyFootballTicket">
                    {% csrf_token %}
                    {% if "normaluser" in request.session %}
                      {% if fticket.football_ticket_count != 0 %}
                        <button type="submit" name="{{fticket.id}}" value="{{fticket.id}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn">Purchase</button>
                      {% else %}
                        <button type="submit" name="{{fticket.id}}" value="{{fticket.id}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn" disabled>Purchase</button>
                      {% endif %}
                    {% else %}
                      <button type="submit" name="{{fticket.id}}" value="{{fticket.id}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn" disabled>Purchase</button>
                    {% endif %}
                  </form>
                </div>
                </div>
                  {% if 'staffuser' in request.session %}
                  <div style="display:flex; flex-direction:column; gap:5px; margin-left:5px;">
                    <form method="POST" action="removeFootballTicket">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger" name="{{fticket.id}}" value="{{fticket.id}}"><i class="fa fa-trash"></i></button>
                    </form>
                      <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target=".updateFootballTicketClass" name="{{fticket.id}}" value="{{fticket.id}}" id="{{fticket.id}}" onclick="getId({{fticket.id}})"><i class="fa fa-edit"></i></button>
                  </div>
                {% endif %}
              </div>
            </div>
            
            {% endfor %}

          </div>
        </div> 
        <div id="basketball-id" class="u-list u-list-2" style="visibility:hidden;">
          <div class="u-repeater u-repeater-2">
            
            {% for bticket in btickets %}
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-1 div-ticket div-ticket-b">
              
              <div class="opponent-badge-p-b">
                <div class="opponent-badge-b">
                <div class="opponent-badge-name-b">
                  <img class="u-image u-image-circle u-image-1" src={% static 'scms_app/images/aub_phoenix.jpeg' %} alt="" data-image-width="1406" data-image-height="1395">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-4">AUB Phoenix</p>
                </div>
                <span style="align-self:center;"> VS </span>
                <div class="opponent-badge-name-b">
                  <img class="u-image u-image-circle u-image-1" src={{bticket.basketball_ticket_image}} alt="" data-image-width="1406" data-image-height="1395">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-4 opponent-name-2">{{bticket.basketball_ticket_opponent}}</p>
                </div>
                </div>

                <div class="opponent-b">
                <div class="opponent-b-last2">
                  <div class="opponent-p">
                    <p class=""><span style="text-decoration:underline;">Location</span>: {{bticket.basketball_ticket_location}}</p>
                  </div>
                  <div class="opponent-p">
                    <p class=""><span style="text-decoration:underline;">Date</span>: {{bticket.basketball_ticket_date}}</p>
                  </div>
                </div>
                </div>
              </div>
                
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                
                <div class="purchase-b">
                <div style="text-align: -webkit-center;">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-3">Available: {{bticket.basketball_ticket_count}}</p>
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-7">Price: {{bticket.basketball_ticket_price}}$</p>
                </div>
                <div style="align-self: center;">
                  <form method="POST" action="buyBasketballTicket">
                    {% csrf_token %}
                    {% if "normaluser" in request.session %}
                      {% if bticket.basketball_ticket_count != 0 %}
                        <button type="submit" name="{{bticket.id}}" value="{{bticket.id}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn">Purchase</button>
                      {% else %}
                        <button type="submit" name="{{bticket.id}}" value="{{bticket.id}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn" disabled>Purchase</button>
                      {% endif %}
                    {% else %}
                      <button type="submit" name="{{bticket.id}}" value="{{bticket.id}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn" disabled>Purchase</button>
                    {% endif %}
                  </form>
                </div>
                </div>
                {% if 'staffuser' in request.session %}
                  <div style="display:flex; flex-direction:column; gap:5px; margin-left:5px;">
                    <form method="POST" action="removeBasketballTicket">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger" name="{{bticket.id}}" value="{{bticket.id}}"><i class="fa fa-trash"></i></button>
                    </form>
                      <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target=".updateBasketballTicketClass" name="{{bticket.id}}" value="{{bticket.id}}" id="{{bticket.id}}" onclick="getId2({{bticket.id}})"><i class="fa fa-edit"></i></button>
                  </div>
                {% endif %}

              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </section>



    <script>

      function toggleSport() {
        var basketball_id = document.getElementById('basketball-id');
        var football_id = document.getElementById('football-id');

        var basketball_header = document.getElementById('basketball-header');
        var football_header = document.getElementById('football-header');

        var basketballButton = document.getElementById('basketballButton');
        var footballButton = document.getElementById('footballButton');

        var addfticket = document.getElementById('add-fticket');
        var addbticket = document.getElementById('add-bticket');

        if (addfticket != null && addbticket != null){

            if (basketball_id.style.visibility !== 'hidden') {
              basketball_id.style.visibility = 'hidden';
              addbticket.style.visibility = 'hidden';
              football_id.style.visibility = 'visible';
              addfticket.style.visibility = 'visible';
              football_header.style.visibility = 'visible';
              football_header.innerHTML = 'Football Tickets';
              basketballButton.disabled = false;
              footballButton.disabled = true;
            }
            else if (football_id.style.visibility !== 'hidden') {
              basketball_id.style.visibility = 'visible';
              addbticket.style.visibility = 'visible';
              football_id.style.visibility = 'hidden';
              addfticket.style.visibility = 'hidden';
              football_header.style.visibility = 'visible';
              football_header.innerHTML = 'Basketball Tickets';
              footballButton.disabled = false;
              basketballButton.disabled = true;
            }

            if (footballButton.disabled == true){
              footballButton.style.backgroundColor = 'grey';
              footballButton.style.borderColor = 'grey';
            }
            else if (footballButton.disabled == false){
              footballButton.style.backgroundColor = '#478ac9';
              footballButton.onmouseover = function(){footballButton.style.backgroundColor = '#007bff';}
              footballButton.onmouseout = function(){footballButton.style.backgroundColor = '#478ac9';}
            }

            if (basketballButton.disabled == true){
              basketballButton.style.backgroundColor = 'grey';
              basketballButton.style.borderColor = 'grey';
            }
            else if (basketballButton.disabled == false){
              basketballButton.style.backgroundColor = '#478ac9';
              basketballButton.onmouseover = function(){basketballButton.style.backgroundColor = '#007bff';}
              basketballButton.onmouseout = function(){basketballButton.style.backgroundColor = '#478ac9';}
            }
        }

        else {
          if (basketball_id.style.visibility !== 'hidden') {
            basketball_id.style.visibility = 'hidden';
            football_id.style.visibility = 'visible';
            football_header.style.visibility = 'visible';
            football_header.innerHTML = 'Football Tickets';
            basketballButton.disabled = false;
            footballButton.disabled = true;
          }
          else if (football_id.style.visibility !== 'hidden') {
            basketball_id.style.visibility = 'visible';
            football_id.style.visibility = 'hidden';
            football_header.style.visibility = 'visible';
            football_header.innerHTML = 'Basketball Tickets';
            footballButton.disabled = false;
            basketballButton.disabled = true;
          }

          if (footballButton.disabled == true){
            footballButton.style.backgroundColor = 'grey';
            footballButton.style.borderColor = 'grey';
          }
          else if (footballButton.disabled == false){
            footballButton.style.backgroundColor = '#478ac9';
            footballButton.onmouseover = function(){footballButton.style.backgroundColor = '#007bff';}
            footballButton.onmouseout = function(){footballButton.style.backgroundColor = '#478ac9';}
          }

          if (basketballButton.disabled == true){
            basketballButton.style.backgroundColor = 'grey';
            basketballButton.style.borderColor = 'grey';
          }
          else if (basketballButton.disabled == false){
            basketballButton.style.backgroundColor = '#478ac9';
            basketballButton.onmouseover = function(){basketballButton.style.backgroundColor = '#007bff';}
            basketballButton.onmouseout = function(){basketballButton.style.backgroundColor = '#478ac9';}
          }
        }
      };

      // for football ticket update
      function getId(ticketid){
        openUpdateModal = document.getElementById(ticketid);
        updateFootballTicketBtn = document.getElementById("updateFootballTicketBtn");
        console.log(openUpdateModal.value)
        updateFootballTicketBtn.value = openUpdateModal.value;
      }

      // for basketball ticket update
      function getId2(ticketid){
        openUpdateModal = document.getElementById(ticketid);
        updateBasketballTicketBtn = document.getElementById("updateBasketballTicketBtn");
        console.log(openUpdateModal.value)
        updateBasketballTicketBtn.value = openUpdateModal.value;
      }
    </script>



    {% endblock %}
</html>