{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html style="font-size: 16px;">
    {% block content %}
    <link rel="stylesheet" href="{% static 'scms_app/css/Tickets.css' %}" media="screen"/>

    <style>
      .div-ticket{
        display: flex;
        flex-direction: row;
        gap:20px;
        background-color: #fcece3;
      }

      .div-ticket:third-child{
        width: 200px;
      }

      .div-ticket > * {
        flex: 0 0 auto;
      }

      .div-ticket-b{
        gap: 30px;
      }

      .opponent-f{
        display: flex;
        flex-direction: column;
      }

      .opponent-b{
        display: flex;
        flex-direction: column;
      }

      .opponent-b p{
        margin-top:0;
      }

      .opponent-b-last2{
        display: flex;
        flex-direction: row;
        gap:20px;
      }

      .opponent-p{
        height: 50px;
      }

      .opponent-badge-f{
        align-self: center;
        text-align: center;
      }

      .opponent-badge-b{
        {% comment %} align-self: center;
        text-align: center; {% endcomment %}
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .opponent-badge-p-b{
        display: flex;
        flex-direction: column;
        margin-top:20px;
      }

      .opponent-badge-name-b{
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .purchase-f{
        display: flex;
        flex-direction: column;
      }

      .purchase-b{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .purchase-btn{
        margin-top:0;
      }

    </style>

    <section class="u-clearfix u-section-1" id="sec-d7cb">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Football Tickets</h2>
        <h2 class="u-text u-text-default u-text-2">Basketball Tickets</h2>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">

            {% for ticket in tickets %}
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-1 div-ticket">
              
                {% comment %} <div>
                  {{ticket.ticket_homeaway}}
                </div> {% endcomment %}
                
                <div class="opponent-badge-f">
                <img class="u-image u-image-circle u-image-1" src={{ticket.ticket_image}} alt="" data-image-width="1406" data-image-height="1395">
                <h3>{{ticket.ticket_homeaway}}</h3>
                </div>

                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>

                <div class="opponent-f">
                <div class="opponent-p">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-4">{{ticket.ticket_opponent}}</p>
                </div>
                <div class="opponent-p">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-6"><span style="text-decoration:underline;">Location</span>: {{ticket.ticket_location}}</p>
                </div>
                <div class="opponent-p">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-8">{{ticket.ticket_date}}</p>
                </div>
                </div>

                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                
                <div class="purchase-f">
                <div style="text-align: -webkit-center;">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-3">Available: {{ticket.ticket_count}}</p>
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-7">Price: {{ticket.ticket_price}}$</p>
                </div>
                <div style="align-self: center;">
                  <a href="" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn">Purchase</a>
                </div>
                </div>

              </div>
            </div>
            {% endfor %}

            {% comment %} <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-3"></div>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-3">Available: 26</p>
                <img class="u-image u-image-circle u-image-1" src="{% static 'scms_app/images/fc1.jpg' %}" alt="" data-image-width="1406" data-image-height="1395">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-4">Football Club 1</p>
                <h3 class="u-text u-text-default u-text-5">H</h3>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-6">Location</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-7">Price: 28$</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-8">Date</p>
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1">Purchase</a>
              </div>
            </div>
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-3"></div>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-4"></div>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-9"> Available: 26</p>
                <img class="u-image u-image-circle u-image-2" src="{% static 'scms_app/images/fc2.jpg' %}" alt="" data-image-width="1505" data-image-height="1291">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-10">Football Club 2</p>
                <h3 class="u-text u-text-default u-text-11">H</h3>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-12">Location</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-13">Price: 28$</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-14">Date</p>
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-2">Purchase</a>
              </div>
            </div>
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-5"></div>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-6"></div>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-15"> Available: 26</p>
                <img class="u-image u-image-circle u-image-3" src="{% static 'scms_app/images/fc3.jpg' %}" alt="" data-image-width="1522" data-image-height="1234">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-16">Football Club 3</p>
                <h3 class="u-text u-text-default u-text-17">A</h3>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-18">Location</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-19">Price: 28$</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-20">Date</p>
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-3">Purchase</a>
              </div>
            </div>
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-7"></div>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-8"></div>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-21"> Available: 26</p>
                <img class="u-image u-image-circle u-image-4" src="{% static 'scms_app/images/fc4.jpg' %}" alt="" data-image-width="1452" data-image-height="1356">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-22">Football Club 4<br>
                </p>
                <h3 class="u-text u-text-default u-text-23">A</h3>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-24">Location</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-25">Price: 28$</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-26">Date</p>
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-4">Purchase</a>
              </div>
            </div>{% endcomment %}
          </div>
        </div> 
        <div class="u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            
            {% for ticket in tickets %}
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-1 div-ticket div-ticket-b">
              
                {% comment %} <div>
                  {{ticket.ticket_homeaway}}
                </div> {% endcomment %}
              
              <div class="opponent-badge-p-b">
                <div class="opponent-badge-b">
                <div class="opponent-badge-name-b">
                  <img class="u-image u-image-circle u-image-1" src={{ticket.ticket_image}} alt="" data-image-width="1406" data-image-height="1395">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-4">{{ticket.ticket_opponent}}</p>
                </div>
                <span style="align-self:center;"> VS </span>
                <div class="opponent-badge-name-b">
                  <img class="u-image u-image-circle u-image-1" src={{ticket.ticket_image}} alt="" data-image-width="1406" data-image-height="1395">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-4">{{ticket.ticket_opponent}}</p>
                </div>
                </div>

                <div class="opponent-b">
                <div class="opponent-b-last2">
                  <div class="opponent-p">
                    <p class=""><span style="text-decoration:underline;">Location</span>: {{ticket.ticket_location}}</p>
                  </div>
                  <div class="opponent-p">
                    <p class=""> {{ticket.ticket_date}}</p>
                  </div>
                </div>
                </div>
              </div>
                
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                
                <div class="purchase-b">
                <div style="text-align: -webkit-center;">
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-3">Available: {{ticket.ticket_count}}</p>
                  <p class="u-large-text u-text u-text-default u-text-variant u-text-7">Price: {{ticket.ticket_price}}$</p>
                </div>
                <div style="align-self: center;">
                  <a href="" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1 purchase-btn">Purchase</a>
                </div>
                </div>

              </div>
            </div>
            {% endfor %}


            {% comment %} <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-9"></div>
                <img class="u-image u-image-circle u-image-5" src="{% static 'scms_app/images/bt1.jpg' %}" alt="" data-image-width="573" data-image-height="574">
                <img class="u-image u-image-circle u-preserve-proportions u-image-6" src="{% static 'scms_app/images/aub_phoenix-removebg-preview.png' %}" alt="" data-image-width="300" data-image-height="300">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-27">Location</p>
                <h4 class="u-text u-text-default u-text-28">VS</h4>
                <p class="u-text u-text-default u-text-29">Date</p>
                <a href="https://nicepage.com/k/auto-mechanic-html-templates" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-5">Purchase</a>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-30">Available: 26</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-31">Price: 40$</p>
              </div>
            </div>
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-10"></div>
                <img class="u-image u-image-circle u-image-7" src="{% static 'scms_app/images/bt2.jpg' %}" alt="" data-image-width="597" data-image-height="605">
                <img class="u-image u-image-circle u-preserve-proportions u-image-8" src="{% static 'scms_app/images/aub_phoenix-removebg-preview.png' %}" alt="" data-image-width="300" data-image-height="300">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-32">Location</p>
                <h4 class="u-text u-text-default u-text-33">VS</h4>
                <p class="u-text u-text-default u-text-34">Date</p>
                <a href="https://nicepage.com/k/auto-mechanic-html-templates" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-6">Purchase</a>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-35">Available: 26</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-36">Price: 40$</p>
              </div>
            </div>
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-11"></div>
                <img class="u-image u-image-circle u-image-9" src="{% static 'scms_app/images/bt3.jpg' %}" alt="" data-image-width="641" data-image-height="595">
                <img class="u-image u-image-circle u-preserve-proportions u-image-10" src="{% static 'scms_app/images/aub_phoenix-removebg-preview.png' %}" alt="" data-image-width="300" data-image-height="300">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-37">Location</p>
                <h4 class="u-text u-text-default u-text-38">VS</h4>
                <p class="u-text u-text-default u-text-39">Date</p>
                <a href="https://nicepage.com/k/auto-mechanic-html-templates" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-7">Purchase</a>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-40">Available: 26</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-41">Price: 40$</p>
              </div>
            </div>
            <div class="u-border-3 u-border-grey-75 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-8">
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-12"></div>
                <img class="u-image u-image-circle u-image-11" src="{% static 'scms_app/images/bt4.jpg' %}" alt="" data-image-width="556" data-image-height="561">
                <img class="u-image u-image-circle u-preserve-proportions u-image-12" src="{% static 'scms_app/images/aub_phoenix-removebg-preview.png' %}" alt="" data-image-width="300" data-image-height="300">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-42">Location</p>
                <h4 class="u-text u-text-default u-text-43">VS</h4>
                <p class="u-text u-text-default u-text-44">Date</p>
                <a href="https://nicepage.com/k/auto-mechanic-html-templates" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-8">Purchase</a>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-45">Available: 26</p>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-46">Price: 40$</p>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </section>
    {% endblock %}
</html>